/* Reset all default browser margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Rules page settings — centers everything */
body {
    background-color: #313030;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    color: #ffffff;            /*White*/
    min-height: 100vh;         /* full viewport height for all browsers*/
    min-height: -webkit-fill-available;  /* for old Safari (iPhone) */

    display: flex;             /* enable flexbox layout */
    flex-direction: column;    /* stack items vertically */
    justify-content: center;   /* center vertically */
    align-items: center;       /* center horizontally */
    text-align: center;
    padding: 2rem;
}

/* Main headline - How to play*/
.main-title {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 1.2;
}


/* Cat image */
.cat-image-rules {
    max-width: 200px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 16px;
}

